@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --w-card: 500px;
    --h-card: 300px;
    --h-cardHead: 30%;
    --h-cardMid: 70%;
    --h-cardFoot: 30%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(187, 187, 187), rgb(217, 184, 223));
    overflow: hidden;
}


/* Chơi bóng */

.bong {
    width: 100%;
    height: 100%;
    position: absolute;
}

.circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    width: 300px;
    background-color: #0aa073;
    left: 30%;
    top: 50%;
    animation: circle1 50s ease-in-out infinite;
}

.circle2 {
    width: 200px;
    background-color: #52a00a;
    left: 60%;
    top: 20%;
    animation: circle2 50s ease-in-out infinite;
}

.circle3 {
    width: 150px;
    background-color: #8c44a1;
    left: 20%;
    top: 10%;
    animation: circle3 50s ease-in-out infinite;
}

@keyframes circle1 {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(20%, 20%);
    }
    40% {
        transform: translate(100%, 20%);
    }
    60% {
        transform: translate(90%, -50%);
    }
    80% {
        transform: translate(-40%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle2 {
    0% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(-20%, 20%);
    }
    35% {
        transform: translate(100%, -20%);
    }
    55% {
        transform: translate(90%, 30%);
    }
    85% {
        transform: translate(40%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle3 {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(20%, -20%);
    }
    30% {
        transform: translate(100%, -20%);
    }
    50% {
        transform: translate(-90%, -50%);
    }
    70% {
        transform: translate(-60%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.object{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.el-cat{
    width: var(--w-card);
    z-index: 1000;
}
.cat{
    width: 250px;
    margin: 0 0 -100px -9px;
}

.card {
    width: var(--w-card);
    height: var(--h-card);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}


/* Chia card */

.card-head {
    width: 100%;
    height: var(--h-cardHead);
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #6d6175;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

.card-mid {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: var(--h-cardMid);
    display: flex;
}


/* AVT */

.card-mid-left {
    height: 100%;
    width: 40%;
    position: relative;
}

.avt {
    width: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 5px 5px 10px 0px rgb(133, 133, 133);
}

.avt>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Họ tên */

.name {
    color: #fff;
    position: absolute;
    font-weight: 600;
    font-size: 1.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Thông tin */

.card-mid-right {
    height: 100%;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding: 10% 5%;
    color: #fff;
}

.card-mid-right>* {
    margin-bottom: 1rem;
}

.card-mid-right>.birthday {
    font-size: 1.1em;
    font-weight: 500;
}

.card-mid-right>.info {
    font-size: 1.1em;
    font-weight: 500;
}


/* icon Link */

.icon-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.7em;
}

.fa-square-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fa-facebook {
    background-color: rgba(24, 119, 242, 1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fa-mug-hot {
    background: linear-gradient(to bottom, #af4b08 0%, #582b00 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fa-image {
    background: linear-gradient(to bottom, #0aa073 0%, #0b3ba3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.icon {
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 241, 202, 0.527);
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px rgb(133, 133, 133);
}
